@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局的基础样式，例如字体、颜色等 */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 flex items-center min-w-[320px] min-h-screen;
}
